* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: roboto, sans-serif;
}

/* header */
header {
  background-color: white;
  width: 100%;
  z-index: 999;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 17px;
}
.header-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  background-color: white;
  border-bottom: 1px solid #807d7d;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.left-section a img {
  width: 155px;
}
.right_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products-text {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  padding: 20px 0;
  margin-right: 9px;
  width: 100%;
}
.item_position {
  text-decoration: none;
  font-size: 26px;
  color: black;
}

.whatsapp_icon {
  margin-right: 8%;
  font-size: 2em;
  font-weight: 600;
  color: green;
}
/* end-header */
.section-packages {
  /* padding-top:200px  ; */
}
.section-packages .container {
  display: flex;
  flex-direction: column;
}

.section-packages .container .details {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  padding: 50px;
}
.section-packages .container .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(197px, 1fr));
  grid-gap: 30px;
}

.section-packages .container .grid .grid-cards {
 
  border: 1px solid #807d7d;
  padding-bottom: 19px;
}
.section-packages .container .grid .grid-cards img {
  width: 100%;
  margin-bottom: 15px;
}
.section-packages .container .grid .grid-cards p {
  text-align: center;
}
