* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: roboto, sans-serif;
}

/* header */
header{
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 17px;
}
.header-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  background-color: white;
  border-bottom: 1px solid #807d7d;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.left-section a img {
  width: 155px;
}
.right_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products-text {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  padding: 20px 0;
  margin-right: 9px;
}
.item_position {
  text-decoration: none;
  font-size: 26px;
  color: black;
}

.whatsapp_icon {
  margin-right: 8%;
  font-size: 2em;
  font-weight: 600;
  color: green;
}
/* end-header */
.main_frame{
  padding-top: 150px;
}
.content {
  width: 71%;
  margin: 0 auto;
}

.item_nav {
  text-decoration: none;
  width: 100%;
  color: black;
  background-color: #333;
  padding: 16px;
  display: flex;
  justify-content: center;
  margin-top: 22px;
}
/* end_left_box */

.name_details {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 19em;
  right: 150px;
}
.name_details h1 {
  font-size: 4em;
}
.name_details p {
  margin-top: 15px;
  font-size: 2.5em;
}

/* item_position */
.row_container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 90px;
  padding: 15px 0;
}

.item_position :hover {
  align-items: center;
  justify-content: center;
}
.item_position:hover {
  background-color: #a7a7a7;
}

.paper_section,
.string_section,
.foom_section {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 27px;
}
.section_name {
  font-size: 30px;
  background-color: rgb(223, 223, 223);
  padding-right: 15%;
  width: 100%;
  border-top: 2px solid rgb(184, 183, 183);
  border-bottom: 2px solid rgb(184, 183, 183);
  margin-top: 30px;
}
.grid_item {
  box-shadow: 0 0 14px 0px black;
  height: auto;
  background-color: #fff;
  border-radius: 20px;
}
.img_container img:hover {
  scale: 1.09;
  transition: all 1s;
}

.details {
  font-size: medium;
  font-family: Almarai;
  font-weight: 700;
  display: flex;
  padding: 25px;
  font-size: larger;
}
.img_container img {
  width: 100%;
}
.img_container {
  overflow: hidden;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}
.string_group {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  padding: 150px;
}
.row_container_1 {
  position: relative;
  right: -6px;
  display: flex;
  width: 100%;
  justify-content: center;
  top: 67px;
  padding: 15px 0;
}
.store_packages {
  width: 100%;
}
